name: Security

on:
  workflow_dispatch:
  workflow_call:

jobs:
  check-vulnerabilities:
    runs-on: ubuntu-latest
    outputs:
      runner: ${{ steps.get-runner.outputs.runner }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

      - name: Set up environment
        uses: ./.github/actions/setup-env

      - name: Run dependency security check
        run: just deps-security

      - name: Run code security check
        run: just code-security
