name: Tests

on:
  workflow_dispatch:
  workflow_call:

jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

      - name: Set up environment
        uses: ./.github/actions/setup-env

      - name: Run tests with coverage
        run: just coverage

      - name: Upload coverage HTML report
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        with:
          name: coverage-html
          path: htmlcov
